venv/
*.png
*.pdf
__pycache__/
.venv_311
.venv

# IDE
.idea/
.vscode/

# WorkBuddy
.workbuddy/

# Test files
test_codes/
test_data/

# frontend/.gitignore
node_modules/
.cache/
dist/
*.local
.DS_Store
backend/data/*
backend/static/pdf2pngs/*
backend/weights/PP-DocLayout-M
backend/weights/PP-DocLayout_plus-L
